@model NewCategoryRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewCategoryRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreOwner.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Approval" asp-route-id="@Model?.Id">Approval</a> |
    <a asp-action="Index">Back to List</a>
</div>
