@model IEnumerable<NewCategoryRequest>

@{
	ViewData["Title"] = "Index";
}

<h1>CategoryRequest</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StoreOwner)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsApproval)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StoreOwner.FullName)
				</td>
				<td>
					@if (item.IsApproval == null)
					{
						<a asp-action="Approval" asp-route-id="@item.Id">Approval</a> 
					}
					else
					{
						<a asp-action="Details" asp-route-id="@item.Id">@item.IsApproval</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
